---
const { cart, closeCart } = Astro.props;
---

<div class="bg-white rounded-lg p-6 shadow-lg">
  <h2 class="text-xl font-bold">Tu Carrito</h2>
  <ul>
    {cart.length > 0 ? (
      cart.map(item => (
        <li>
          {item.sellerName} - ${item.price} x {item.quantity}
        </li>
      ))
    ) : (
      <p>No hay productos en el carrito.</p>
    )}
  </ul>
  <button 
    class="mt-4 bg-red-500 text-white rounded px-4 py-2" 
    onclick={closeCart}
  >
    Cerrar
  </button>
</div>
