<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
        <h1
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
          Términos y Condiciones
        </h1>
        <p class="mt-4 text-base leading-7 text-gray-500">
          Última actualización 17 de octubre 2024
        </p>
      </div>
    </div>
    <div>
      <div
        class="mx-auto max-w-[40rem] prose-base prose text-gray-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black">
        <h3>1. Aceptación de los Términos</h3>
        <p>
          Al acceder y utilizar la Plataforma, usted acepta cumplir con estos Términos y Condiciones. Si no está de acuerdo, por favor, no utilice nuestros servicios.
        </p>
        <h3>2. Descripción del Servicio</h3>
        <p>
          Mundo Vinilos es una plataforma en línea que reúne a diversas tiendas especializadas en vinilos en Chile, permitiendo a los usuarios:

Comprar y reservar vinilos.
Acceder al stock en tiempo real.
Recibir productos en su domicilio o retirarlos personalmente.
        </p>
        <h3>3. Registro de Usuario</h3>
        <p>
          Para utilizar ciertos servicios, debe crear una cuenta proporcionando información veraz y actualizada. Usted es responsable de mantener la confidencialidad de sus credenciales de acceso.
        </p>
        <h3>4. Uso Aceptable</h3>
        <p>
          Usted se compromete a:

          Utilizar la Plataforma de acuerdo con la ley y estos Términos.
          No realizar actividades que puedan dañar, deshabilitar o sobrecargar nuestros servicios.
          No utilizar la Plataforma para fines fraudulentos o ilegales.
        </p>
        <h3>5. Compras y Pagos</h3>
        <p>
          Precios: Los precios están expresados en pesos chilenos (CLP) e incluyen impuestos aplicables.
          Pagos: Aceptamos diversos métodos de pago seguros. Al realizar una compra, usted autoriza el cargo en el método de pago seleccionado.
          Reservas: Las reservas garantizan la asignación de un vinilo específico para usted.
        </p>
        <h3>6. Envíos y Entregas</h3>
        <p>
          Opciones de Entrega: Retiro en tienda, según disponibilidad.
          Se proporcionarán estimaciones al momento de la compra.
        </p>
        <h3>7. Devoluciones y Reembolsos</h3>
        <p>
          Política de Devolución: Tiene derecho a devolver productos defectuosos o incorrectos dentro de los 10 días hábiles siguientes a la recepción.
          Proceso de Devolución: Contacte al servicio al cliente para recibir instrucciones.
          Reembolsos: Se emitirán una vez que el producto sea recibido y verificado.
        </p>
        <h3>8. Propiedad Intelectual</h3>
        <p>
          Todos los contenidos de la Plataforma, incluyendo textos, gráficos, logos e imágenes, son propiedad de Mundo Vinilos o de sus proveedores y están protegidos por leyes de propiedad intelectual.
        </p>
        <h3>9. Limitación de Responsabilidad</h3>
        <p>
          Mundo Vinilos no será responsable por daños indirectos, incidentales o consecuentes que resulten del uso o la imposibilidad de uso de la Plataforma.
No garantizamos la disponibilidad ininterrumpida de los servicios.
        </p>
        <h3>10. Modificaciones a los Términos</h3>
        <p>
          Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento. Notificaremos cambios significativos a través de la Plataforma o por otros medios.
        </p>
        <h3>11. Ley Aplicable y Jurisdicción</h3>
        <p>
          Estos Términos y Condiciones se rigen por las leyes de la República de Chile. Cualquier disputa será resuelta en los tribunales competentes de Santiago.
        </p>
        <h3>12. Contacto</h3>
        <p>
          Para consultas sobre estos Términos y Condiciones, puede contactarnos en:

          Correo Electrónico: info@mundovinilos.cl
        </p>
      </div>
    </div>
  </div>
</section>
