<footer>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div class="grid grid-cols-2 lg:grid-cols-4 items-start gap-x-8 gap-y-24">
      <a href="/" class="flex items-center space-x-2">
        <img src="/logo-vinilo.png" alt="Logo Mundo Vinilos" class="h-8" />
        <span class="font-bold font-display">Mundo Vinilos</span>
      </a>
      <div
        class="md:grid md:grid-cols-2 xl:grid-cols-4 md:gap-8 text-sm text-gray-400 lg:col-span-3">
        <div>
          <h3 class="text-lg text-black font-medium tracking-tight">
            Todo
          </h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="/"
                class="hover:text-black">
                Página principal
              </a>
            </li>
            <li>
              <a
                href="/faq"
                class="hover:text-black">
                Preguntas frecuentes
              </a>
            </li>
            <li>
              <a
                href="/terms"
                class="hover:text-black">
                Terminos y condiciones
              </a>
            </li>
            <li>
              <a
                href="/privacy"
                class="hover:text-black">
                Privacidad
              </a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h3 class="text-lg text-black font-medium tracking-tight">
            Recursos
          </h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="https://github.com/Javieers/Mundo-Vinilos"
                class="hover:text-black">
                Repositorio GitHub
              </a>
            </li>
          </ul>
        </div>

        <div>
          <h3 class="text-lg text-black font-medium tracking-tight">
            Novedades
          </h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="https://github.com/Javieers/Mundo-Vinilos"
                class="hover:text-black">
                Novedades Mundo Vinilos
              </a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h3 class="text-lg text-black font-medium tracking-tight">¿Tienes una tienda de vinilos?</h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="https://forms.office.com/r/321nhLaHjw"
                class="hover:text-black">
                Trabaja con nosotros.
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="bg-white">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-6">
    <div class="border-t pt-6 border-gray-200">
      <p class="text-sm text-neutral-600 lg:col-span-2">
        © 2024 Mundo Vinilos. Todos los derechos reservados. Mundo vinilos
        es una página no oficial, que está en fase de prototipo funcional
        con muchas caracteristicas simuladas, desarrollada por <a
          class="text-sm text-black hover:text-accent-400 underline"
          href="https://www.linkedin.com/in/javier-flores-b55b26247/"
          >Javier Flores Rodríguez</a
        > Esta página fue desarrollada por Astro &amp; Tailwind.
      </p>
    </div>
  </div>
</footer>
